<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Questions</h4>
    <ul>
      <li class=''>
      How do I invest in OCTO?      </li>
   <li class=''>Is this for real?      </li>
   <li class=''>How can I stay updated about OCTO?      </li>
   <li class=''>Are there any restrictions on the investor's country of origin?      </li>
   <li class=''>What are the customs regulations for international OCTO shipments?      </li>
   <li class=''>Are OCTO shipments secure?      </li>
   <li class=''>Will there be an IPO?      </li>
   <li class=''>How much do I have to invest to get on the board of OCTO?      </li>
   <li class=''>Do you guarantee uptime for the network?      </li>

      </li>
    </ul>
  </div>
</div>
