<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Questions</h4>
    <ul>
      <li class=''>
      How do I invest in OCTO?
Is this for real?
How can I stay updated about OCTO?
Are there any restrictions on the investor's country of origin?
What are the customs regulations for international OCTO shipments?
Are OCTO shipments secure?
Will there be an IPO?
How much do I have to invest to get on the board of OCTO?
Do you guarantee uptime for the network?

      </li>
    </ul>
  </div>
</div>
