<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
      OCTO: the next generation is physical!
      </h3>
      <p>
  You've experienced the revolutionary potential of digital, can you
imagine the enormous social, cultural and economic impact of global
vacuum-speed delivery of physical materials?
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
      The power of tangibility.
     
      </h3>    <p>
Food from mom's kitchen delivered globally in minutes. Vital medical supplies
whisked across the city or across the country. OCTO brings the world
into physical contact.
      </p> </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
 Patenting opportunities galore!      </h3>
 <p>
Our investors get privileged access to the bleeding edge information
on OCTO technology, allowing for incomparable advantage getting vital
OCTO-ready products patented and out on the market.
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Exactly the right fit for your home or office.
      </h3><p>
OCTO end-stations are completely customizable to fit with any decor or
design. Capturing the imagination of designers across the world, the
worlds top brands are designing for OCTO!</p>
    </div>
  </div>
</div>
