<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>A dominant technology</h4>
      <p>Pneumatics have proven a robust and reliable technology for over a century. Major hosipitals, large warehouses, hotles and other institutions rely of the speed and convenience of pneumatic delivery every day. OCTO is the first to offer national and even international pneumatic delivery. The future of communication is physical</p>
    </li>
    <li id="section-2">
      <h4>A winning model</h4>
      <p>Pneumatic systems have</p>
    </li>
  </ul>
</div>
