<div id='logos'>
  <ul class="wrapper clearfix">
    <li id="HKW preview"><a href="http://www.hkw.de/en/programm/2013/transmediale2013/veranstaltungen_83253/veranstaltungsdetail_85812.php"></a></li>
    <li id="coolpaper"><a href=""></a></li>
    <li id="nicemag"><a href=""></a></li>
    <li id="readcrunch"><a href=""></a></li>
  </ul>
</div>
